@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght=400;700&display=swap'); 

 :root {
    --cor-de-fundo: #bea5f8;
    --grifar: #d800e073;
    --branco: #ffffff; 
    --botao-ativo: #8E00E0;
    --botao-inativo: #a5a6f0; 
    --texto-fundo:  #911850; 
 }

 body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Times New Roman', Times, serif; /* Atualizado para usar a fonte que você importou */
}

/* CORREÇÃO: Adicionado o "d" que faltava em conteudo */
.conteudo-principal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}

/* CORREÇÃO: Letra minúscula para alinhar com o HTML e adicionado o ";" */
.titulo-principal{ 
   text-align: left;
   width: 100%;
   font-size: 32px;
}
